extends default_layout

block content
	.ui.menu.fixed#mainnav
		ai#sidebar-toggle.item
			i.reorder.icon
		a.item.purple.active(href="/")
			img(src="/img/logo-small.png")
		a.item(href="/explore")
			i.map.icon
			| Explore
		a.item#buildtab(href="/build")
			i.wrench.icon
			| Build
		.ui.simple.dropdown.item#moretab
			|More
			i.dropdown.icon
			.menu
				a.item(href="/blog")
					i.book.icon
					|Blog
				a.itema.item(href="/help")
					i.help.icon
					|Help
		.right.compact.menu#logintab
			.ui.simple.dropdown.item
				i.user.icon
				|#{logintext}
				i.dropdown.icon
				.menu
					a.item
						i.bolt.icon
						|My Profile
					a.item
						i.lightbulb.icon
						|My Graphs
					a.item
						i.settings.icon
						|Settings
					a.item(href="#{signlink}")
						i.sign.in.icon
						|#{signouttext}
												
	#explore-sidebar.ui.floating.sidebar.inverted
	
	#explore-banner-contain
		.hideme
			#explore-banner
		#banner-overlay
			#search-header
				.ui.white.icon.huge.header
					i.map.massive.icon
					|Explore
			#explore-searchbar
				.ui.fluid.action.input
					input(type="text" placeholder="find something interesting!")
					.ui.teal.right.labeled.icon.button
						i.search.icon
						|Search

	
	#graphs-view.ui.four.items
		-var ob = graphs
		-for(var prop in ob)
			.item.graphitm
				.content
					.circholder
						.imagebox
						.linkbox
							i.big.triangle.right.icon
						.infoholder
							.user-details
								.profile-pic-small
								.user-details-text
									h3 #{ob[prop].authorname}
									h4 #{ob[prop].graphmeta.datecreated}
							a.name(href="/graph?graphid=#{ob[prop].graphid}")
								|#{ob[prop].graphname}
						
					#clearcirc
						p.graphdesc
							| #{ob[prop].graphdesc}
						.graphmeta
							.ui.label.purple
								| Views
								a.detail
									|#{ob[prop].graphmeta.views}
							.ui.label.green
								| Likes
								a.detail
									| #{ob[prop].graphmeta.likes}
			
		