extends default_layout

block content
	.fixed
		.ui.menu.purple.inverted
			ai#sidebar-toggle.item
				i.reorder.icon
			a.item(href="/")
				i.leaf.icon
				img(src="/img/logo-small.png")
			a.item.purple.active(href="/explore")
				i.map.icon
				| Explore
			a.item(href="/build")
				i.wrench.icon
				| Build
			.right.compact.menu
				.ui.simple.dropdown.item
					i.user.icon
					|Me
					i.dropdown.icon
					.menu
						a.item
							i.bolt.icon
							|My Profile
						a.item
							i.lightbulb.icon
							|My Graphs
						a.item
							i.settings.icon
							|Settings
						a.item
							i.sign.out.icon
							|Sign Out
						
	#explore-sidebar.ui.floating.sidebar.inverted.red
	
	#explore-banner-contain
		.hideme
			#explore-banner
		#banner-overlay
			#search-header
				.ui.white.icon.huge.header
					i.map.massive.icon
					|Explore
			#explore-searchbar
				.ui.fluid.action.input
					input(type="text" placeholder="find something interesting!")
					.ui.teal.right.labeled.icon.button
						i.search.icon
						|Search

	
	#graphs-view.ui.stackable.four.items
		-var ob = graphs
		-for(var prop in ob)
			.item
				#circlefloatleft
					h2.ui.inverted.small.header.circletext
						| 22
						.small.sub.header
							| Nodes
				#circlefloatright
					h2.ui.inverted.small.header.circletext
						| 22
						.small.sub.header
							| Edges
				#clearcirc
				.content
					.meta
						|5 days ago
					.name
						|#{ob[prop].graphname}
					p.description.smalltext
						| by #{ob[prop].author}
					p.description.graphdesc
						| #{ob[prop].graphdesc}
					.graphmeta
						.ui.label.purple
							| Views
							a.detail
								|#{ob[prop].graphmeta.views}
						.ui.label.green
							| Likes
							a.detail
								| #{ob[prop].graphmeta.likes}
			
		